In [1]:
import pandas as pd
import numpy as np
import glob

In [2]:
aux = 0
todos = []
for f in glob.glob("SSS_Per_Var_Cat/*.dat"):
    df=pd.read_table(f,sep='\s+',header=None)
    df.columns = ["mjd", "v_mag", "err"]
    df["numerical_id"] = f.split("/")[1].split(".")[0]
    todos.append(df)
    #print(f.split("/")[1].split(".")[0])
df = pd.concat(todos,ignore_index='True')

In [7]:
is_id = df.loc[:,'numerical_id'] == '3045039050998'
df_id = df.loc[is_id]
print(df_id)

      numerical_id           mjd    v_mag    err
694  3045039050998  53714.547012  15.5216  0.084
695  3045039050998  53714.556895  15.4814  0.082
696  3045039050998  53714.566773  15.4716  0.082
697  3045039050998  53714.576664  15.4799  0.082
698  3045039050998  53734.673277  15.5808  0.096
..             ...           ...      ...    ...
904  3045039050998  56380.529392  15.6810  0.072
905  3045039050998  56410.441418  15.5367  0.070
906  3045039050998  56410.449876  15.5276  0.070
907  3045039050998  56410.458346  15.5363  0.071
908  3045039050998  56410.466809  15.5293  0.071

[215 rows x 4 columns]

In [ ]:
print(df.loc)

In [3]:
cols = df.columns.tolist()
cols = cols[-1:] + cols[:-1]
df = df[cols]
df

          numerical_id           mjd    v_mag    err
0        3029041042208  55244.531967  14.3153  0.062
1        3029041042208  55326.361922  14.1535  0.066
2        3029041042208  55170.696879  14.2293  0.061
3        3029041042208  55569.645529  14.3761  0.063
4        3029041042208  55210.626133  14.4054  0.060
...                ...           ...      ...    ...
8453890  3045060082467  56390.569547  17.1461  0.123
8453891  3045060082467  56414.483540  17.3118  0.097
8453892  3045060082467  56414.498567  17.1985  0.094
8453893  3045060082467  56414.513663  17.2664  0.097
8453894  3045060082467  56414.528795  17.2802  0.097

[8453895 rows x 4 columns]

In [4]:
df.to_csv (r'/home/jonimott/Escritorio/detections.csv', index = False, header=True)